/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.history
/.vscode
/nbproject/private/
logs/error.log
public/js
public/uploads/tickets
public/uploads/users
